Debug/
*.opensdf
*.sdf
*.bak
*.aps
*.suo
/app/win_mfc/fjr_mfc/alps_mfc.suo
/app/win_mfc/fjr_mfc/alps_mfc/alps_mfc.aps
/app/win_mfc/fjr_mfc/ipch/alps_mfc-34f8128f/alps_mfc-e9738891.ipch
/app/win_mfc/fjr_mfc/ipch/
*.iobj
*.ipdb
*.pdb
*.o
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.vscode
